@media screen and (max-width: 400px) {
    .nav__link{
        font-size: 14px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.nav{
    background: pink;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    word-spacing: 10px;
}

.nav__logo{
    height: 100%;
    background: white;
}

.nav__img{
    height: 100%;
}

.nav__links{
    margin-left: 20px;
}

.nav__link{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.nav__link:hover{
    text-shadow: 4px 4px 4px white;
    color: darkmagenta;
    transition: color 2s;
}

.nav__link--active{
    color: darkmagenta;
    text-shadow: 4px 4px 4px white;
}

.nav__link--active:hover{
    color: white;
    text-shadow: 4px 4px 4px darkmagenta;
}

.article{
    padding-top: 20px;
    color: darkmagenta;
    text-align: center;
}

.article__logo{
    height: 300px;
    width: 300px;
}

.article__paragraph{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
}

.article__images{
    display: inline;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.article__img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: magenta solid 2px;
}

.article__contacts{
    list-style-type: none;
}

.article__contact__link{
    text-decoration: none;
    font-size: 25px;
    color: darkmagenta;
    font-weight: bold;
}

.article__contact__link:hover{
    text-shadow: 4px 4px 4px darkmagenta;
    color: lightpink;
    transition: color 2s;
}

.article__contacts__icon{
    height: 50px;
    width: 50px;
}

.container{
    background-image: url('../img/chef_hat.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    color: darkmagenta;
}

.container__display__heading{
    color: darkmagenta;
    margin-top: 10px;
}

.container__display__image{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: magenta solid 2px;
}
